<!-- base templates for all pages -->
<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <title>{% block title %}{{ name }}{% endblock %}</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-{{ theme['main'] }} sticky-md-top">
        <div class="container-fluid">
            <a class="navbar-brand text-{{ theme['text'] }} fw-bold" href="/">Daily Drop</a>
            <button class="navbar-toggler {{ theme['text'] }}" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse bg-{{ theme['main'] }}" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item bg-{{ theme['main'] }}">
                        <a class="nav-link active text-{{ theme['text'] }}" aria-current="page" href="/">Home</a>
                    </li>
                    <!-- user preference -->
                    <li class="nav-item bg-{{ theme['main'] }}">
                        {% if username %}<a class="nav-link active text-{{ theme['text'] }}" aria-current="page" href="/">Welcome
                            {{username}}!</a>{% endif %}
                        <!-- href leads to user prefernece -->
                    </li>
                    <li class="nav-item dropdown text-{{ theme['main'] }}">
                        <a class="nav-link dropdown-toggle text-{{ theme['text'] }} opacity-50" href="#"
                            id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Subpages
                        </a>
                        <!-- All subpages: weather, news, recommendations, stocks, fun, sports, space -->
                        <ul class="dropdown-menu bg-{{ theme['text'] }}" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item link-{{ theme['main'] }}" href="/weather">Weather</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item link-{{ theme['main'] }}" href="/news">News</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item link-{{ theme['main'] }}"
                                    href="/recommendations">Recommendations</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item link-{{ theme['main'] }}" href="/fun">Fun</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item link-{{ theme['main'] }}" href="/sports">Sports</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item link-{{ theme['main'] }}" href="/space">Space</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            {% if logged_in %}<a class="nav-link active text-{{ theme['text'] }}" href="preference">Settings</a>{% endif %}
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        {% if logged_in == True %}
                        <a class="nav-link active text-{{ theme['text'] }}" href="logout">Log Out</a>
                        {% else %}
                        <a class="nav-link active text-{{ theme['text'] }}" href="user">Log In</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Content -->
    {% block content %}
    {% endblock %}
    <!-- End Body -->

    <!-- Spacing -->
    <div class="container-fluid">
        <div class="row pb-3">
            <div class="col pb-3"></div>
        </div>
        <div class="row pb-3">
            <div class="col pb-3"></div>
        </div>
    </div>
    <!-- End Footing -->

    <!-- Footer -->
    <div class="position-fixed bottom-0  mt-auto py-3 bg-{{ theme['main'] }}" style="width: 100%">
        <div class="container">
            <span class="text-{{ theme['text'] }}">&copy; 2022 Harold Huggers Inc. View us on <a
                    class="link-{{ theme['text'] }}" href="https://github.com/owyaggy/p01">Github</a>.</span>
        </div>
    </div>
    <!-- End Footer -->
</body>

</html>
