{% extends "base.html" %}
{% block content %}

<script src="./static/js/boxes.js"></script>
<ul class="nav nav-tabs justify-content-center ">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Wordle</a>
    </li>
    <li class="nav-item">
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/leaderboard">Leaderboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn" id="liveToastBtn">How-To</a>
    </li>
    {% if user == None %}
    <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </li>
    {%else%}
    <li class="nav-item">
        <a class="nav-link" href="/history">{{user}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
    </li>
    {%endif%}
  </ul>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header" style="background:#121213">
            <strong class="me-auto">How To Play</strong>
            <button type="button" class="btn-close" data-dismiss="toast" aria-label="Close"
                style="color: white">X</button>
        </div>
        <div class="toast-body" style="background:#121213">
            <div class="instructions">
                <p>Guess the <strong>WORDLE</strong> in six tries.</p>
                <p>Each guess must be a valid five-letter word. Hit the enter button to submit.</p>
                <p>After each guess, the color of the tiles will change to show how close your guess was to the word.
                </p>
                <div class="examples">
                    <p><strong>Examples</strong></p>
                    <div class="example">
                        <div class="row">
                            <game-tile letter="w" evaluation="correct" reveal=""></game-tile>
                            <game-tile letter="e"></game-tile>
                            <game-tile letter="a"></game-tile>
                            <game-tile letter="r"></game-tile>
                            <game-tile letter="y"></game-tile>
                        </div>
                        <p>The letter <strong>W</strong> is in the word and in the correct spot.</p>
                    </div>
                    <div class="example">
                        <div class="row">
                            <game-tile letter="p"></game-tile>
                            <game-tile letter="i" evaluation="present" reveal=""></game-tile>
                            <game-tile letter="l"></game-tile>
                            <game-tile letter="l"></game-tile>
                            <game-tile letter="s"></game-tile>
                        </div>
                        <p>The letter <strong>I</strong> is in the word but in the wrong spot.</p>
                    </div>
                    <div class="example">
                        <div class="row">
                            <game-tile letter="v"></game-tile>
                            <game-tile letter="a"></game-tile>
                            <game-tile letter="g"></game-tile>
                            <game-tile letter="u" evaluation="absent" reveal=""></game-tile>
                            <game-tile letter="e"></game-tile>
                        </div>
                        <p>The letter <strong>U</strong> is not in the word in any spot.</p>
                    </div>
                </div>
                <p><strong>A new WORDLE will be available each day!<strong></strong></strong></p><strong><strong>
                    </strong></strong>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    var toastTrigger = document.getElementById('liveToastBtn')
    var toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', function () {
            var toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
    }
</script>
{% endblock %}

{% block grid %}
<center><button class="newGrid">New Grid</button></center>
<div id="grid-container"></div>
{% endblock %}

{% block keyboard %}
<div id="key-container"></div>
{% endblock %}
